/*body*/
body {
  font-family: "Raleway";
}

#bloc_page {
  width: 1024px;
  margin: 0 auto;
}

/*images*/
img {
  max-width: 100%;
}

/* couleurs de la charte: #0065FC bleu,
 #DEEBFF bleu plus clair, 
 #F2F2F2 gris pour le fond.*/

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5px;
  padding-right: 0.5px;
}

header img {
  width: 70%;
}

header a {
  padding: 40px 0px 0px 15px;
  font-size: 14px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  margin: 0 15px;
  padding: 30px 15px 0 15px;
  text-decoration: none;
  border-top: 3px solid #ffffff;
  margin-bottom: 15px;
}

header nav a:hover {
  color: #0065fc;
  border-color: #0065fc;
}

header a img {
  height: 50px;
  border-top: 3px solid #ffffff;
}

/*titres*/
h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p .nuit .prix {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/*a*/
a {
  color: black;
  text-decoration: none;
}

/*formulaire de recherche*/
#recherche .search form {
  display: flex;
}

#recherche .search form label {
  padding: 0.5rem;
  background-color: #f2f2f2;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

#recherche .search form label i {
  font-size: 14px;
}

#recherche .search form input {
  padding: 0.5rem;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

#recherche .search form button {
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

/*filtres*/
#recherche .filtrer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#recherche .filtrer > p {
  font-weight: bold;
  margin: 0 1.5rem 0 0;
}

#recherche .filtrer .filtres {
  display: flex;
  align-items: center;
}

#recherche .filtrer .filtres .filtre {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  border: 2px solid #f2f2f2;
  border-radius: 1.5rem;
}

#recherche .filtrer .filtres .filtre .icone {
  padding: 0.5rem;
  background-color: #deebff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 18px;
  height: 18px;
  font-size: 20px;
  margin: 0 5px 0 0;
  color: #0065fc;
}
#recherche .filtrer .filtres .filtre .icone {
  font-size: 15px;
}
#recherche .filtrer .filtres .filtre .text {
  margin: 0 0.5rem;
}

#recherche .filtrer .filtres .filtre:hover {
  color: #0065fc;
  background-color: #deebff;
}

/*info*/
#recherche .info {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
}

#recherche .info .info_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #f2f2f2;
  font-size: 20px;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  color: white;
  background-color: #0065fc;
}

/*hebergemens*/
#marseille {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 30px;
}

#marseille .hebergements {
  background-color: #f2f2f2;
  border-radius: 30px;
}

#marseille .hebergements .vignettes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

#marseille .hebergements h2 {
  padding-left: 35px;
  padding-right: 35px;
}

#marseille .hebergements .vignettes .vignette .auberge,
.port,
.mouettes,
.mer,
.panier,
.hamina {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#marseille .hebergements .vignettes .vignette p {
  font-size: 12px;
}

#marseille .hebergements .afficher {
  padding-top: 1rem;
  padding-left: 1.9rem;
  font-weight: bold;
}

#marseille .hebergements .afficher a:hover {
  color: #0065fc;
}

/*populaires*/
#marseille .populaires .h2_populaires {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

#marseille .populaires .h2_populaires i {
  font-size: 14px;
}

#marseille .populaires {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}

#marseille .populaires .vignettes .vignette {
 
  margin: 30px;
  width: 80%; 
  height: 110px;
}

#marseille .populaires .vignettes .vignette .clic  {
  display: flex;
}

#marseille .populaires .vignettes .vignette .clic figure img {
  border-radius: 24px 0px 0px 24px; 
  width: 80%;
  height: 105px;
  object-fit: cover;
}

#marseille .populaires .vignettes .vignette .clic figure .soleil {
  width: 80%;
}

#marseille .populaires .vignettes .vignette a .hotel p {
  font-size: 12px;
}

#marseille .vignettes .vignette i {
  color: #0065fc;
}

#marseille .vignettes .vignette i.grey {
  color: #f2f2f2;
}

/*activites*/
#activites {
  margin-top: 30px;
  margin-bottom: 60px;
}

#activites .vignettes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#activites .vignettes .vignette:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}

#activites .vignettes .vignette:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
}

#activites .vignettes .vignette .double,
.vieux_port,
.parc_national_des_calanques {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

#activites .vignettes .vignette .fort_de_pomegues {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

#activites .vignettes .vignette .iles {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#activites .vignettes .vignette .notre_dame {
  width: 100%;
  height: 110px;
  object-fit: cover;
}

#activites .vignettes .vignette .parc_longchamp {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

#activites h2 {
  margin-left: 8px;
}

/*vignettes*/
.vignettes .vignette {
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 4px 4px 4px -6px;
  width: 100%;
}

.vignettes .vignette:hover {
  color: #0065fc;
  background-color: #deebff;
}

.vignettes .vignette h3,
.vignettes .vignette p,
.vignettes .vignette strong,
.vignettes .vignette .stars {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.vignettes .vignette .nuit {
  font-size: 0.9rem;
  color: black;
}

.vignettes .vignette .prix {
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}
/*.vignettes .vignette .lien .nuit {
  word-spacing:-100%;
  word-spacing: -0.5ch;
}*/

.vignettes .vignette figure {
  margin: 3px;
}

#marseille .hebergements,
.activites,
.vignettes .vignette figure img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.vignettes .vignette i {
  font-size: 10px;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 2.2rem 0 1.5rem 0;
}

footer h3 {
  font-size: 16px;
  margin: 0 0px;
  color: black;
}

footer ul {
  padding-left: 0px;
  padding-right: 0px;
}

footer li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

footer .assistance {
  margin-right: 250px;
}

footer .a_propos {
  margin-left: 20px;
}

footer a {
  text-decoration: none;
  border-top: 3px solid #f2f2f2;
}

footer .a_propos,
.nos_hebergements,
.assistance,
ul li a:hover {
  color: #0065fc;
}

/*@media queries*/
@media (max-width: 1024px) {
  #bloc_page {
    max-width: 668px;
  }
}

@media (max-width: 767px) {
  #bloc_page {
    max-width: 260px;
  }
}
