/*body*/
body{
  font-family: "Raleway", sans-serif;
}

#bloc_page {
  max-width: 1024px;
  margin: 0 auto; 
}

/*images*/
img {
  max-width: 100%;
}

/* couleurs de la charte: #0065FC bleu,
 #DEEBFF bleu plus clair, 
 #F2F2F2 gris pour le fond.*/
/*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

header img {
  height: 50px;
}

header a {
  padding: 40px 0px 0px  15px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  margin: 0 15px;
  padding: 30px 15px 0 15px;
  text-decoration: none;
  border-top: 3px solid #ffffff;
  margin-bottom: 15px;
}

header nav a:hover {
  color:#0065FC;
  border-color:#0065FC;
 }

header a img {
  height: 50px;
  padding-left: 20px;
  border-top: 3px solid #ffffff; 
}

header img:hover { 
  color:#DEEBFF;
  border-color:#0065FC;
}

/*titres*/
h1, h2, h3, .filtres p, p a  {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

h1, p, .i, p {
  padding-left: 20px;
 }

h2 {
  display: block;
  font-size: 1.5em;  
}

h3 a:hover {
  color: #0065FC ;  
}

/*a*/
a {
  color: black;
  text-decoration: none;
  border-top: 3px solid #F2F2F2; 
}

/*formulaire de recherche*/

/*search*/
#recherche{
  padding-left: 30px;
  padding-right: px; 
} 

#recherche .search {
  display: flex;
  align-items: center;
  height: 40px; 
  padding-left: 10px;
}

#recherche .search .map_marker {
  padding: 15px;
  background-color: #F2F2F2;
  border-radius: 1rem 0 0 1rem;
}

#recherche .search .button a {
  border: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #0065FC;
  color: white;
  font-weight: bold; 
  text-decoration: none;
  color: #F2F2F2;
  border-top: 3px solid white;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
    
}

#recherche .search .button a:hover {
  color:#F2F2F2;
  border-color:#0065FC;
  opacity: 0.
}

#recherche .search form {
  padding: 12px;
  border-top: 1px solid #DEEBFF;
  border-bottom:1px solid #DEEBFF;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  padding-left: 1.25rem;

}






/*filtres*/
#recherche .filtres {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
  color: black;
  margin-top: 20px;
  padding-right: 30px;
  margin: 25px 0px 20px 0px;
}

.filtres p {
font-size: 18px; 
padding-left: 30px;
}

.fas .fa {
  padding-left: 30px;
} 

.icon_a {
  
  display: flex;
  justify-content: center;
  align-items: center;   
}

.fas {
  display: flex;
  justify-content: center;
  align-items: center;   
}


.filtres .icon_a .fas .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#recherche .filtres .icon_a .fas .text a { 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #DEEBFF;
  border-left: none;
  border-radius: 0 50px 50px 0;
  width: auto;
  height: 40px;
}

#recherche .filtres .icon_a .fas .fa i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px; 
   color: #0065FC ;
   background-color:#DEEBFF;
   font-size: 20px;
   width: 50px; 
   height: 50px;  
  
    
 
}

#recherche .filtres a {
  
 /* padding: 8px 13px 8px 30px;
  margin-left: -24px;*/
}

#recherche .filtres a:hover {
  color: #0065FC;
  background-color:#DEEBFF ;
}
  
/*info*/
#recherche .info { 
display: flex;
align-items: center;

font-size: 1rem; 
margin-top: 0.3rem;
margin-bottom: 1.25rem;
padding-left: 1rem;letter-spacing: 3px;
}

 #recherche .info .info_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 1px solid #F2F2F2;
  font-size: 20px;
  width: 25px; 
  height: 25px; 
  margin: 0 5px 0 0;
color:#F2F2F2;
 background-color:#0065FC ;
   
 }

/*hebergemens*/
#marseille {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
  
}

#marseille .hebergements {
  padding: 30px;
  background-color: #F2F2F2;
  border-radius: 1.5rem;
}

#marseille .hebergements .vignettes {
  display: grid;
  grid-template-columns: 3.33fr 3.33fr 3.33fr;
}

#marseille .hebergements img {
  border-radius: 10px 10px 0 0; 
}

#marseille .hebergements p a:hover {
  color: #0065FC;
}

/*populaires*/
#marseille .populaires .logo {
  display: flex;
  justify-content: space between;
  align-items: center; 
  padding-right: 0.2rem;
}

#marseille .populaires { 
     display: flex;
      justify-content: space-between; ;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      padding-left: 10px;
      background-color: #F2F2F2;
      border-radius: 1.5rem;
    }

#marseille .populaires .vignettes .vignette {
 display: grid;
 grid-template-columns: 5fr 6fr;
 }


 
#marseille .populaires img {
  border-radius:10px 0px 0px 10px;
  object-fit: cover;
    width: 100%;
    height: 100%;
 }

/*activites*/
#activites {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.activites {
  display: flex;
}

#activites .activites .vignettes {
  display: grid;
  grid-template-columns: repeat(4
  , 1fr);
  grid-gap: 1.5rem; 
} 

#activites .activites .vignettes .vignette .double {
  grid-row: 1/3;
}

#activites img {
  border-radius: 10px 10px 0 0px; 
}

.vignettes .vignette {
  padding: 1rem;
  text-align:left ;
  border: 1px solid #cfcfcf;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 4px 4px 11px -6px;
}

.vignettes .vignette .nuit {
  font-size: 0.9rem;
  color: #333333;
}

.vignettes .vignette .prix {
  color: #0d0e0d;
  font-weight: bold;
}

.vignettes .vignette figure {
  margin: 0;
}

.vignettes .vignette .fa-star.grey {
  color:#F2F2F2;
}

.vignettes .vignette .fa-star {
  color: #0065FC;
} 

.vignettes .vignette figure img {
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;  
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  padding: 2.2rem 0 1.5rem 0; 
}

footer h3 {
  font-size: 16px;
  margin: 0 0px;
}

footer ul {
  padding-left: 0px;
}

footer li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

footer .assistance {
  margin-right: 250px;
}

footer .a_propos {
  margin-left: 20px;
}

footer a {
  text-decoration: none;
  border-top: 3px solid #F2F2F2; 
}

footer .a_propos, .nos_hebergements,
 .assistance, ul li a:hover{
color:#0065FC;
}  

/*@media queries*/
@media (max-width: 1024px){
  #bloc_page {
    max-width: 668px;
  }
}
 
@media (max-width: 767px){
  #bloc_page {
    max-width:  260px;
  }
}


